<h3>Book Outpost</h3>
    <p>
    It's easy!
    <br>
    List books you'd like to swap with other club members.
    <br>
    Once a book is requested, mail it to the club member.
    <br>
    In return you may choose from ## available books!!
    </p>
    <a class="button" href="/users/signup">Sign Up Free</a>
    <p> Start to enjoy with others the joy of reading NOW!</p>
