<h3>Book Outpost</h3>
    <p>
    It's easy!
    <br>
    List books you'd like to swap with other club members.
    <br>
    Once a book is requested, mail it to the club member.
    <br>
    In return you may choose from ## available books!!
    </p>
    <!--<a class="button" href="/signup">Sign Up Free</a>-->
    <a href="/user/signup">About</a>
    <!--<a type="button" href="/about"  target="_blank" class="button"></a>-->
    <p> ... and start NOW to link with others through the literature  !</p>
    
    
