<h3>Personal Details</h3>
<ul>
    <li>Your Name {{user.name}}</li>
    <li>Your username {{user.username}}</li>
    <li>Your email {{user.email}}</li>
</u>
<a href="#">Change your Personal Details</a>

<h3>Your Books</h3>
<h5>List of Personal Books</h5>
<a href="/user/books/new">Add Books to your list</a>
<ul>
    <li>Title</li>
    <li>Authors</li>
    <li>Status</li>
</ul>
<h5>List of Shared Books</h5>
<a href="#">Shared Books in your list</a>
<ul>
    <li>Title</li>
    <li>Owner</li>
    <li>Start Date</li>
</ul>
